.list-content-tile--two-lines span, .list-content-tile--two-lines strong {
line-height: 20px;
word-wrap: break-word;
}
.popupAlert{
    position: fixed;
    width: 80%;
    height: 80%;
    background: #000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 9999999999999999999;
}
.popupAlert .closeAlert{
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 99999;
    color: #f44336;
    font-size: 20px;
    cursor: pointer;
}