.list-content-tile--two-lines span, .list-content-tile--two-lines strong {
line-height: 20px;
word-wrap: break-word;
}
.popupAlert{
    position: fixed;
    width: 80%;
    height: 80%;
    background: #000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 9999999999999999999;
}
.popupAlert .closeAlert{
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 99999;
    color: #f44336;
    font-size: 20px;
    cursor: pointer;
}
@media screen and (max-width : 480px){
    #room-name{
        margin-top: 120px;
        font-size: 1em;
    }
    .mb{
        margin-top: 60px;

    }
    #buttonActions>button {
        font-size: 1em;
        height: 35px;
        width: 35px;
        line-height: 35px;
    }
    #content{
        width: 100%!important;
        z-index: 1;
    }
    .toggler{
        z-index: 2;
        margin-left: 0!important;
        width: 100%!important;
        position: absolute;
    }
    #effect,#whiteboard{
        background-color: #eee;
        padding: 10px!important;
        height: 100%;
    }
}